<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedbackMapper">

    <sql id="feedbackColumns">
        id, member_id, type, mobile, content, is_dispose,
        create_time, create_user, modify_time, modify_user
    </sql>

    <resultMap id="feedbackResultMap" type="feedbackDO">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="type" property="type"/>
        <result column="mobile" property="mobile"/>
        <result column="content" property="content"/>
        <result column="is_dispose" property="isDispose"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_user" property="modifyUser"/>
    </resultMap>

    <!-- 新增用户反馈信息 -->
    <insert id="insert" parameterType="feedbackDO" useGeneratedKeys="true" keyProperty="id">
        insert into user_feedback (
            member_id, type, mobile, content,
            create_time, create_user, modify_time, modify_user
        )values (
            trim(#{memberId}), trim(#{type}), trim(#{mobile}), trim(#{content}),
            sysdate(), trim(#{createUser}), sysdate(), trim(#{modifyUser})
        )
    </insert>

</mapper>