<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">

    <sql id="reservationColumns">
        id, member_id, shop_id, consignment_id, order_no, cost, status,
        dispatching_way, remark, create_time, modify_time
    </sql>

    <resultMap id="reservationResultMap" type="reservationDO">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="shop_id" property="shopId"/>
        <result column="consignment_id" property="consignmentId"/>
        <result column="order_no" property="orderNo"/>
        <result column="cost" property="cost"/>
        <result column="status" property="status"/>
        <result column="dispatching_way" property="dispatchingWay"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 新增订单信息 -->
    <insert id="insert" parameterType="reservationDO" useGeneratedKeys="true" keyProperty="id">
        insert into reservation (
        member_id, shop_id, consignment_id, order_no, cost, status,
        dispatching_way, remark, create_time, modify_time
        )values (
        trim(#{memberId}), trim(#{shopId}), trim(#{consignmentId}), trim(#{orderNo}), trim(#{cost}), trim(#{status}),
        trim(#{dispatchingWay}), trim(#{remark}), sysdate(), sysdate()
        )
    </insert>

    <!-- 修改订单信息 -->
    <update id="update" parameterType="reservationDO">
        update reservation
        <set>
            <if test="consignmentId != null">
                consignment_id = trim(#{consignmentId}),
            </if>
            <if test="cost != null and cost != ''">
                cost = trim(#{cost}),
            </if>
            <if test="status != null and status != ''">
                status = trim(#{status}),
            </if>
            <if test="dispatchingWay != null and dispatchingWay != ''">
                dispatching_way = trim(#{dispatchingWay}),
            </if>
            <if test="remark != null and remark != ''">
                remark = trim(#{remark}),
            </if>
            modify_time = sysdate()
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = trim(#{orderNo})
            </if>
        </where>
    </update>

    <!-- 获取订单数据 -->
    <select id="findReservationInfo" parameterType="reservationDO" resultMap="reservationResultMap">
        select
        <include refid="reservationColumns"/>
        from reservation
        <where>
            <if test="id != null">
                and id = trim(#{id})
            </if>
            <if test="shopId != null">
                and shop_id = trim(#{shopId})
            </if>
            <if test="memberId != null">
                and member_id = trim(#{memberId})
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = trim(#{orderNo})
            </if>
            <if test="status != null and status != ''">
                and status = trim(#{status})
            </if>
            order by create_time desc
        </where>
    </select>

    <!-- 获取订单详细数据 -->
    <select id="findReservationPrintPhotographInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select a.amount amount, b.description description, b.type type, b.store_url storeUrl
        from reservation_print_photograph a, print_photograph b
        <where>
            a.print_photograph_id = b.id
            <if test="orderNo != null and orderNo != ''">
                and a.order_no = trim(#{orderNo})
            </if>
        </where>
    </select>


</mapper>