<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

    <sql id="orderColumns">
        id, hotel_id, hotel_code, order_no, rs_type, in_time, out_time, name,
        guest_id, channel, channel2, source, pms_channel, market_code, room_type, rate_code, activity_code,
        room_count, card_no, inner_card, card_type, coupon_no, coupon_code, adult, kid, mobile, cms_code,
        salesman, pms_id, open_id, status, pms_arr, pms_dep, comment, product_code,
        create_user, modify_user, create_time, modify_time
	</sql>


</mapper>